<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/style.css">
  <title>Palmili</title>
</head>
<body>
  <h1>Hello</h1>
  <div class="parag" >
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae elit ut neque blandit euismod. In ante nisi, scelerisque id lacus vitae, varius tristique nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In consequat molestie rutrum. Nam ut nisi lacus. Nulla dapibus quis lectus nec mollis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam nulla nisl, vehicula sed nibh in, molestie tempus elit. Cras dignissim aliquet neque et suscipit. Vivamus sollicitudin, ex vel bibendum vulputate, quam justo gravida ligula, non sollicitudin dui turpis sollicitudin augue. Sed sit amet dapibus leo, tincidunt dignissim neque. Sed tellus lacus, scelerisque et lectus eget, aliquet suscipit ipsum. Curabitur a purus gravida, facilisis nisi ac, sagittis odio. Nam viverra lacinia urna in ultrices.


    </p>
  </div>
</body>
</html>